.index-main-body {
  padding: 0;
  min-height: 590px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: normal;
}

.index-main-body {
  margin: auto;
  padding: 30px 0 102px;
  width: 300px;
}


.index-main {
  text-align: center;
  white-space: nowrap;
  height: 100%;
  min-height: 720px;
}

.index-main {
  min-height: 100%;
  margin-bottom: -42px;
}

div {
  display: block;
}